:root {
  --first-purple: #240048;
  --second-purple: #3C096C;
  --third-purple: #5A189A;
  --background-main: #000000;
  --details: #EFB810;
}
.imgFondoAuth{
  height: 80vh;
 /* Asegura que el contenedor ocupe todo el ancho del viewport */
  overflow: hidden;
}
.imgFondoAuth:before{
  background-image: url(../../../../public/images/fondo.jpg);
  background-position: center;
  background-size: cover;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}
.titleAuth{
  color: white;
  font-size:180px;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 60px;
  opacity: 1;
  z-index: 1; 

}
.card {
  background-color: rgba(0, 4, 7, 0);
  border: none;
  color: white;
}

.btn-primary {
  background-color: var(--third-purple);
  border-color: var(--third-purple);
}

.btn-primary:hover {
  background-color: var(--details);
  border-color: var(--details);
}

.text-danger {
  color: #ff4d4d;
}
.textAuth{
  width: 100%;
  color: white;
  text-decoration: none;
  text-align: center;
}
.spanAuth{
  text-transform: uppercase;
  transition: .4s ease-out;
}
.spanAuth:hover{
  color: var(--details);
}

@media (max-width: 1200px) {
  .titleAuth{
    font-size:180px;
  }
}

@media (max-width: 768px) {
  .titleAuth{
    font-size:100px;
  }
}

@media (max-width: 576px) {
  .titleAuth{
    font-size:80px;
  }
}