.tarifas{
    border: none;
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(37, 42, 42);
}
@media (max-width: 720px) {
    .tarifas {
        width: 90%;
    }
}
h1, h5,h6, p{
    font-family: 'Oswald', sans-serif;
    color: white;
}
.horario{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.font-parejas{
    font-size:30px;
    font-family: "oswald", sans-serif;
}
.font-parejas-text{
    font-size:20px;
    font-family: "Montserrat", sans-serif;
}
.font-chicos{
    font-size:30px;
    font-family: "oswald", sans-serif;
}
.font-chicos-text{
    font-size:20px;
    font-family: "Montserrat", sans-serif;
}
.font-chicas{
    font-size:30px;
    font-family: "oswald", sans-serif;
}
.font-chicas-text{
    font-size:20px;
    font-family: "Montserrat", sans-serif;
}
.font-trios{
    font-size:30px;
    font-family: "oswald", sans-serif;
}
.font-trios-text{
    font-size:20px;
    font-family: "Montserrat", sans-serif;
}

/* estilos de los panel de primeng */
:host ::ng-deep .custom-panel .p-panel-header {
    background-color: black !important; 
    color: #fff !important; 
    border: none !important; 
    padding: 1.25rem !important; 
    margin: 1.25rem !important;
}

:host ::ng-deep .custom-panel .p-panel-content {
    background:  rgb(37, 42, 42) !important; /* Color del contenido */
    color: #f1eeee !important; /* Color del texto */
    border: none !important
}

 
@media (min-width: 1200px) {
    .titleAuth{
      font-size:40px;
    }
    label{
      font-size: 25px;
    }
  }
  
  @media (max-width: 1200px) {
    .titleAuth{
      font-size:40px;
    }
    label{
      font-size: 23px;
    }
  }
  
  @media (max-width: 768px) {
    .titleAuth{
      font-size:40px;
    }
    label{
      font-size: 19px;
    }
  }
  
  @media (max-width: 576px) {
    .font-parejas{
        font-size:20px;
    }
    .font-parejas-text{
        font-size:10px;
    }
    .font-chicos{
        font-size:20px;
    }
    .font-chicos-text{
        font-size:10px;
    }
    .font-chicas{
        font-size:20px;
    }
    .font-chicas-text{
        font-size:10px;
    }
    .font-trios{
        font-size:20px;
    }
    .font-trios-text{
        font-size:10px;

    }
  }