:root {
    --first-purple: #240048;
    --second-purple: #3C096C;
    --third-purple: #5A189A;
    --background-main: #000000;
    --details: #EFB810;
  }
  .containerAuth{
    height: 80vh;
    display: flex;
  }
  .imgFondoAuth{
    overflow: hidden;
  }
  .imgFondoAuth:before{
    background-image: url(/images/fondo.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
  }
  .titleAuth{
    color: white;
    font-size:30px;
    font-family: 'Orbitron', sans-serif;
    opacity: 1;
    z-index: 1; 
  }
  .card {
    background-color: rgba(0, 4, 7, 0);
    border: none;
    color: white;
  }
  
  .btn-primary {
    background-color: var(--third-purple);
    border-color: var(--third-purple);
  }
  
  .btn-primary:hover {
    background-color: var(--details);
    border-color: var(--details);
  }
  .form-control{
    margin-top: 10px;
  }
  
  .text-danger {
    color: #ff4d4d;
  }
  .container{
    display: grid;
    align-items: center;
    margin-top: 5px;
    width: 50%;
  }
  .textAuth{
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: small;
  }

  .button{
    margin-top: 20px;
  }
  .spanAuth{
    text-transform: uppercase;
    transition: .4s ease-out;
  }
  .spanAuth:hover{
    color: var(--details);
  }

  .text{
    font-family: 'Poppins', sans-serif;
  }
  
  /* estilos del check */
  .check {
    margin: 15px;
    display: flex;
    align-items: center;
    padding-right: 5px;

  }
  
  @media (min-width: 1200px) {
    .titleAuth{
      font-size:30px;
    }
    label{
      font-size: 25px;
    }
    .container{
      width: 100%;
    }
  }
  
  @media (max-width: 1200px) {
    .titleAuth{
      font-size:30px;
    }
    label{
      font-size: 23px;
    }
    .container{
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .titleAuth{
      font-size:40px;
    }
    label{
      font-size: 19px;
    }
    .container{
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .titleAuth{
      font-size:30px;
    }
    label{
      font-size: 15px;
    }
    .containerAuth{
      height: 80vh;
    }
    .imgFondoAuth:before{
      height: 100%;
    }
    .container{
      width: 100%;
    }
  }