.sticky-header {
  position: sticky;
  top: 0; /* Fijo 0px desde la parte superior */
  padding: 20px;
  z-index: 1000; /* Asegura que el encabezado esté por encima del contenido */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para un efecto de elevación */
}

h1 {
  font-family: 'Orbitron', sans-serif;
  /* color: gold; */
}

h2, p, h3 {
  font-family: 'Oswald', sans-serif;
  /* color: gold; */
}

.card-container {
  display: grid;
  gap: 20px;
  margin: 50px;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas por defecto */
}

/* Ajustes en las tarjetas */
.card {
  position: relative;
  width: 100%;
  height: 500px; /* Puedes ajustar esto según tus necesidades */
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Transición suave */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5); /* oscurecer imagen */
}

.card:hover {
  transform: scale(1.05); /* Aumenta el tamaño al hacer hover */
}

/* Estilos para la superposición */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #a31111;
  text-align: center;
  background: rgba(0, 0, 0, 0.4); /* capa semi-transparente */
}

.overlay h2 {
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  font-family: 'Staatliches', sans-serif; /* fuente grande y llamativa */
  margin-bottom: 20px;
  position: relative;
}

.overlay h2::before {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border: 5px solid #fff;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* resplandor circular */
}

.overlay p {
  font-size: 18px;
  color: #c0c0c0;
  margin-bottom: 20px;
}

.overlay span {
  font-size: 14px;
  color: #fff;
  border-top: 2px solid #fff;
  padding-top: 10px;
  width: 80%;
}

/* Responsividad */
@media (max-width: 768px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .card-container {
    grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas (móviles) */
  }
}
