@if(loading){
  <app-loading></app-loading>
} @else {
  <div class="containerAuth">
    <div
      class="container d-flex flex-column justify-content-center align-items-center imgFondoAuth"
    >
      <h5 class="text-center titleAuth col-12">Reset cuenta</h5>
      <p style="color:white"><span class="text">Introduce tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</span></p>
      <div class="card p-2" style="max-width: 600px; width: 100%; height: 20%">
        <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()"  class="mx-0 my-auto">
          <!-- Campo Email -->
          <div  class="mb-3">
            <p-floatLabel>
              <input
              type="email"
              class="form-control"
              required
              formControlName="mail"
            />
            <label for="email">Email</label>
            </p-floatLabel>            
            @if(resetPassword.get('mail')?.invalid &&
            resetPassword.get('mail')?.touched){
            <div>
              @if(resetPassword.get('mail')?.errors?.['required']){
              <small style="color: red">El campo es obligatorio</small>
              } @if(resetPassword.get('mail')?.errors?.['email']){
              <small style="color: red">El formato de correo es inválido</small>
              }
            </div>
            }
          </div>
          <!-- Campo Contraseña -->
  
          <!-- Botón de Enviar -->
          <button
            style="margin-top: 10px; color: white"
            [disabled]="resetPassword.invalid"
            class="btn btn-primary w-100"
            type="submit"
          >
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
}


