/* .scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; 
}
.scroll-item {
  height: 100vh;
  scroll-snap-align: start;
  overflow-y: hidden;
} */
/* Hero Section */
.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/neon.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    z-index: 0; 
}
  .hero-content{
    color: white;
    font-family: "Roboto", sans-serif;
    opacity: 1;
    z-index: 1; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: column;
  }
  .hero-content h1 {
    margin-bottom: 3rem;
    font-size: 23rem;
}
  .title-partys, .title-gallery{
    text-align: center;
    color: var(--details);
    font-family: "Bebas Neue", sans-serif;
  }
/* Section Gallery*/
.image-gallery{
  height: 90vh;
  object-fit: cover;
}
/*section PArtys*/
.image-container{
  height: 600px;
}
.section-partys{
  width: 100%;
}


.imagesPartys{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* GALERÍA DE PRIMENG */
/* Contenedor principal */
.parties-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
  background-color: #111;
  color: #fff;
}

/* Estilo de cada card de imagen */
.parties-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--first-purple);
  margin: 0px 3px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.parties-item:hover {
  transform: scale(1.05);
}

/* Imagen */
.parties-item img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

/* Overlay con detalles */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2em;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

/* Texto del overlay */
.overlay-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}
.item-footer,.item-title{
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  color: var(--details);
  text-align: center;
  font-size: 1.1em;
}
@media (min-width: 1200px) {
  .hero-content h1 {
    margin-bottom: 3rem;
    font-size: 14rem;
}
}
@media (max-width: 1200px) {
  .hero-content h1 {
    margin-bottom: 3rem;
    font-size: 10rem;
}
}

@media (max-width: 768px) {
  .hero-content h1 {
    margin-bottom: 3rem;
    font-size: 10rem;
}
}

@media (max-width: 576px) {
  .hero-content h1 {
    margin-bottom: 3rem;
    font-size: 6rem;
}
.imagesPartys{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-partys{
  height: auto; 
}
}


 
  