/* Hero Section */
.hero-section {
    position: relative; /* Para que el pseudo-elemento ::before funcione correctamente */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
    overflow: hidden; /* Asegura que nada se desborde */
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/images/neon.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.2; /* La opacidad solo se aplica al fondo */
    z-index: 0; /* Asegúrate de que el fondo esté detrás del contenido */
}
  .hero-content{
    color: white;
    font-family: "Roboto", sans-serif;
    opacity: 1;
    z-index: 1; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: column;
  }
  .hero-content h1 {
    margin-bottom: 3rem;
    font-size: 23rem;
}
  .btn-primary {
    background-color: var(--second-purple);
    border-color: var(--second-purple);
    transition: .4s ease-out;
    width: 100%;
    text-align: center;
    font-size: medium;
    padding: 15px 30px; 
    font-size: 1rem; 
    /* /background-color: #ff4081;  */
    border: none; 
    color: #fff; 
    cursor: pointer;
  }
  .btn-primary > a{
    color: white;
    text-decoration: none;
  }
  .btn-primary:hover {
    background-color: var(--third-purple);
    border-color: var(--third-purple);
  }
  /* Servicios Section */
  .services-section {
    padding: 3em 0;
    text-align: center;
    background-color: var(--first-purple);
  }
  .p-card-body {
    background-color: var(--third-purple) !important;
  }
  
  .services-section h2 {
    margin-bottom: 1.5em;
    font-size: 2.5em;
  }
  
  /* Testimonios Section */
  .testimonials-section {
    padding: 3em 0;
    background-color: #240048;
    text-align: center;
    color:white;
  }
swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

swiper-slide img {
  height: 100%; 
  width: 100%; 
  object-fit: cover; 
}
/* Section Gallery*/
.section-gallery{
  overflow-x: hidden;
  display: flex;
  color: white;
}
.slider-containerDesktop{
  height: 80vh; 
  width: 60%;
  padding: 35px;
}
.imagesPartys{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-gallery{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: var(--details);
  font-family: "Bebas Neue", sans-serif;
}
/*section PArtys*/
.image-container{
  height: 300px;
}
.section-partys{
  width: 100%;
  height: 100vh; 
  overflow-x: hidden;
}
.title-partys{
  text-align: center;
  color: var(--details);
  font-family: "Bebas Neue", sans-serif;
}
.slider-container-partys{
  height: 80vh; 
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.slider-container-partys-mobile{
  display: none;
  overflow: hidden;
}



/* GALERÍA DE PRIMENG */
/* Contenedor principal */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 20px;
  background-color: #111;
  color: #fff;
}

/* Estilo de cada card de imagen */
.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--first-purple);
  margin: 0px 3px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
  transform: scale(1.05);
}

/* Imagen */
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

/* Overlay con detalles */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2em;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

/* Texto del overlay */
.overlay-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
}
.item-footer,.item-title{
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  color: var(--details);
  text-align: center;
  font-size: 1.1em;
}


@media (min-width: 1200px) {
  .hero-content h1 {
    margin-bottom: 3rem;
    font-size: 14rem;
}
}
@media (max-width: 1200px) {
  .hero-content h1 {
    margin-bottom: 3rem;
    font-size: 10rem;
}
}

@media (max-width: 768px) {
  .hero-content h1 {
    margin-bottom: 3rem;
    font-size: 10rem;
}
}

@media (max-width: 576px) {
  .hero-content h1 {
    margin-bottom: 3rem;
    font-size: 6rem;
}
.slider-container-partys{
display: none;
}
.slider-container-partys-mobile{
  display: block;
  height: 40vh; 
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.section-gallery{
  display: flex;
  flex-direction: column;
}
.slider-containerDesktop{
  height: 30vh; 
  width: 100%;
  padding: 10px;
}
.img-gallery{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-partys{
  height: auto; 
}
}


 
  