
  <section class="hero-section scroll-item">
    <div class="hero-content">
      <!-- <p class="hero-content_p">Explora lo Prohibido</p> -->
      <h1 class="hero-content_h1"><span class="hero-content_span">Alma's w </span>Club</h1>
    </div>
  </section>

  <section class="section-gallery scroll-item"  data-aos="fade-right">
    <h1 class="title-gallery">Nuestras Instalaciones</h1>
  <p-galleria 
      [value]="sliderImagesDesktop"  
      [numVisible]="1" 
      [autoPlay]="true" 
      [circular]="true" 
      [showItemNavigators]="true" 
      [showThumbnails]="false"  >
          <ng-template pTemplate="item" let-item>
              <img [src]="item" alt="prueba" class="image-gallery" style="width: 100%;" />
          </ng-template>
  </p-galleria>
  </section> 
  <section class="d-flex flex-column flex-lg-row md:flex-wrap align-items-center section-text" data-aos="flip-up">
    <div class="col-12 col-lg-6">
      <img src="https://res.cloudinary.com/de3ujeyub/image/upload/v1731257753/favicon_io8jjn.jpg" alt="logo">
    </div>
    <div class="col-12 col-lg-6 d-flex">
      <p class="text-white textCompany">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eius suscipit labore. Impedit nihil tenetur quia quis maxime, totam quidem numquam laudantium inventore deserunt rem architecto a aperiam aliquam? Ea.</p>
    </div>
  </section>
  <section data-aos="fade-left" class="partys scroll-item">
    <h1 class="title-partys">Nuestras fiestas</h1>
    <p-carousel 
    [value]="sliderImagesDesktop" 
    [numVisible]="3" 
    [numScroll]="1" 
    [circular]="true" 
    [responsiveOptions]="responsiveOptionsPartys">
        <ng-template let-sImages pTemplate="item">
            <div class="parties-item">
                <div class="parties-content">
                    <div class="image-container">
                        <img 
                            [src]="sImages" 
                            [alt]="sImages" 
                            class="imagesPartys" />
                        <p-tag 
                            [value]="sImages"  
                            class="image-overlay" 
                            [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                    </div>
                </div>
              <div class="item-footer">
                <div class="item-title">
                    Nombre Fiesta
                </div>

                </div>
            </div>
        </ng-template>
  </p-carousel>
  </section>
